@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.container{
    display: flex;
    background: black;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.container div{
    color: white;
    margin-right: 40px;
}

.footer-cat-head{
    display: block;
    text-decoration: none;
    font-weight: 600;
    color: gray;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    color: lightgray;
    font-size: 18px;
}